.section {
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    }

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 1.5rem;
}

.section-misuse-subheading {
    margin-top: 2rem;
    background-color: #e8f7ff;
    padding: 1rem;
    border-left: 5px solid #007acc;
}

.section-misuse-h1 {
    margin-top: 2rem;
    background-color: #ffebf0;
    padding: 1rem;
    border-left: 5px solid #ff4081;
}

.img-mountain {
    padding-top: 1rem;
    height: 50%;
    width: 50%;
}