<main class="main-content section">
    <h1>Mon contenu d'accueil</h1>
    <p>Sur cette page, nous allons essentiellement voir ce que la sémantique HTML peut déja résoudre</p>
    <div>
        <section class="section-misuse-subheading">
            <h2>
                Respectons simplement la sémantique HTML
            </h2>
            <p>
                Que se passe t'il si j'utilise le raccourci pour me déplacer d'en-tête en en-tête au clavier ?
            </p>
        </section>

        <section class="section-misuse-h1">
            <h3>
                Je fais un peu ce que je veux avec mes Headers
            </h3>
            <p>
                Oui, parce que le H1 à une taille que je trouve plus approprié pour l'usage ici.
            </p>
        </section>
    </div>
    <div>
        <img class="img-mountain" src="assets/Images/Montagnes.jpg" alt="Image d'un mont enneigé en plein jour avec un ciel un peu voilé">
        <p>Cette image exprime toute la <em>grandeur et la beauté de la nature</em></p>
    </div>
    <div>
        <img src="assets/Images/300.png" alt="">
        <p>Fameuse citation: <strong>'Epitech ! Quel est votre métier ?!'</strong></p>
    </div>

    <div>
        <h3>Langage de programmation</h3>
        <ul>
            <li>Angular</li>
            <li>Java</li>
            <li>HTML</li>
        </ul>
    </div>
</main>
