<div class="main-content section">
    <h1>Mon contenu d'accueil</h1>
    <p>Sur cette page, nous allons essentiellement voir ce que la sémantique HTML peut déja résoudre</p>
    &nbsp;
    &nbsp;
    <div>
        <section class="section-misuse-subheading">
            <h3>
                Respectons simplement la sémantique HTML
            </h3>
            <p>
                Que se passe t'il si j'utilise le raccourci pour me déplacer d'en-tête en en-tête au clavier ?
            </p>
        </section>

        <section class="section-misuse-h1">
            <h1>
                Je fais un peu ce que je veux avec mes Headers
            </h1>
            <p>
                Oui, parce que le H1 à une taille que je trouve plus approprié pour l'usage ici.
            </p>
        </section>
    </div>
    <div>
        <img class="img-mountain" src="assets/Images/Montagnes.jpg" alt="">
        <p>Cette image exprime toute la grandeur la beauté de la nature</p>
    </div>
    <div>
        <img src="assets/Images/300.png">
        <p>Fameuse citation: <b>'Epitech ! Quel est votre métier ?!'</b></p>
    </div>
</div>
