<main>
    <h1>Nous contacter</h1>

    <div class="contact-table">
        <table>
            <caption>Liste de contact du personnel</caption>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                </tr>    
            </thead>
            <tbody>
                <tr>
                    <td>Jean Dupont</td>
                    <td><a href="mailto:jean.dupont@email.com" aria-label="Envoyer un email à l'adresse: jean.dupont@email.com">jean.dupont&#64;email.com</a></td>
                    <td><a href="tel:+33123456789" aria-label="Appeler Jean Dupont">+33 1 23 45 67 89</a></td>
                </tr>
                <tr>
                    <td>Marie Dubois</td>
                    <td><a href="mailto:marie.dubois@email.com" aria-label="Envoyer un email à l'adresse: marie.dubois@email.com">marie.dubois&#64;email.com</a></td>
                    <td>+33 1 23 45 67 90</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
