<h1>Nous contacter</h1>

<div class="contact-table">
    <table>
        <thead>
            <tr>
                <td>Nom</td>
                <td>Email</td>
                <td>Téléphone</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Jean Dupont</td>
                <td>jean.dupont&#64;email.com</td>
                <td>+33 1 23 45 67 89</td>
            </tr>
            <tr>
                <td>Marie Dubois</td>
                <td>marie.dubois&#64;email.com</td>
                <td>+33123456790</td>
            </tr>
        </tbody>
    </table>
</div>
