<footer class="content-info" style="background-color: #333333; color: #555555; padding: 20px;">
  <div>
    <p><a class="p-2" target="_blank" href="/terms" aria-label="Ouverture dans un nouvel onglet des conditions du site">Conditions</a></p>
    <p><a href="/privacy" aria-label="Redirection vers la page de Confidentialité">Confidentialité</a></p>

    <p>Contactez-nous : <a href="mailto:info@workshop.com" aria-label="Envoyer un email à l'adresse: info@workshop.com">info&#64;workshop.com</a></p>

    <p class="my-website" style="font-size: 0.8em;">Mon Workshop A11y</p>
  </div>
</footer>